@font-face {
  font-family: 'Antfarm';
  src: url('fonts/ANTFGC__.woff') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
}

.grad h2,
.donate h2,
.contact h2 {
  text-align: center;
  line-height: 1.3;
}


a {
  color: black;
  text-decoration: none;
}

a.special-link {
  font-family: inherit;
  unicode-bidi: isolate;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.2rem;
}

/* top section with image and labels */
.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 50vh;
}

.top-block .portrait {
  width: 240px;
  height: auto;
  display: block;
  margin: 0 0.3rem;
}

/* round buttons */
.buttons {
  margin: 0 0;
  padding: 7vh 0;
}

.btn-row {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 1rem;
  font-weight: bold;
}

.circle {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 1vh;
}

/* node + intro box */
.node-block .node {
  font-size: 0.9rem;
  margin-bottom: 2vh;
}

.intro-box {
  border: 1px solid black;
  padding: 0 1rem;
  margin-top: 1vh;
  line-height: 1.5;
  font-style: italic;
}

.summary {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-left: 50%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* grad section */
.grad h2,
.donate h2,
.contact h2 {
  font-family: 'Antfarm', sans-serif;
  font-size: 1.6rem;
  margin: 10vh 0 5vh 0;
}

.floating-summary {
  width: 50%;
  position: relative;
  left: 50%;
  margin-top: 2vh;
  margin-bottom: 3vh;
  z-index: 2;
}

.floating-summary summary {
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
  text-align: left;
}

.grad-links p {
  margin: 2vh 0;
}

.numbers {
  float: right;
  justify-content: space-between;
  margin-left: 5%;
}

/* donate */
.note {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-left: 50%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* contact */
.contact p {
  margin: 2vh 0;
  text-align: center;
  font-size: 0.95rem;
  line-height: 1.5;
}

/* footer */
.footer {
  margin-top: 10vh;
  font-size: 0.95rem;
  line-height: 1.5;
}

.dotted-line {
  border: none;
  border-top: 2px dotted #000;
  margin: 2rem 0;
}


.dual-column {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
}

.dual-column .buttons {
  flex: 1;
}

.dual-column .node-block {
  flex: 1.5;
}

.dual-column .footer-h {
  flex: 1;
}

.dual-column .footer-p {
  flex: 1;
}
